{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}
    {%- apply spaceless -%}
        {{ customPageTitle|trans(ea.i18n.translationParameters)|raw }}
    {%- endapply -%}
{% endblock %}


{% block main %}
    <table class="table table-striped table-light table-hover">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th class="text-primary">
                <span class="fas fa-building"> Company</span>
            </th>
            <th class="text-primary text-nowrap">
                <span class="fas fa-sticky-note"> Tariff</span>
            </th>
            <th class="text-primary text-nowrap">
                <span class="fas fa-user-clock"> Work duration</span>
            </th>
            <th class="text-right" dir="ltr">
                <span class="fas fa-tag"> Price per unit</span>
            </th>
            <th class="text-right" dir="ltr">
                <span class="fab fa-creative-commons-nc-eu"> Total price</span>
            </th>
            <th dir="ltr">
                <span class="sr-only">Actions</span>
            </th>

        </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for item in unpaidWorkInventory %}
            <tr>
                <td class="text- field-text" dir="ltr"><span title="{{ item[0].company }}">{{ item[0].company }}</span>
                </td>
                <td class="text-nowrap align-middle" dir="ltr">{{ item[0].tariff }}</td>
                <td class="text-nowrap align-middle" dir="ltr">{{ item.workDurationTotal }} hod.</td>
                <td class="text-right field-money"
                    dir="ltr">{{ (item.tariffPrice/100)|format_currency('CZK', {fraction_digit: 0}, locale='cz') }}</td>
                <td class="text-right field-money"
                    dir="ltr">{{ (item.totalPrice/100)|format_currency('CZK', {fraction_digit: 0}, locale='cz') }}</td>
                <td class="actions">
                    <a class="action-edit"
                       href="{{ path('work_inventory_generate_invoice_by_company', {'companyId': item[0].company.getId()}) }}"
                       title="Generate invoice">Generate invoice</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main %}