{# {{ dump() }} #}
{#{{ dump(field.value) }}#}

<table class="table datagrid with-rounded-top ">
    <thead>
    <tr>
        <th style="padding-left: 20px">Item name</th>
        <th>Price inc. margin</th>
        <th style="width: 50px; text-align: center">VAT</th>
        <th style="width: 65px; text-align: center">Discount</th>
        <th style="width: 50px; text-align: center">Margin</th>
        <th style="width: 45px; text-align: center">Count</th>
        <th style="width: 150px; text-align: center">Total price</th>
    </tr>
    </thead>
    <tbody>
    {% for invoiceItem in field.value %}
        <tr data-id="{{ invoiceItem.id }}">
            <td >{{ invoiceItem.name }}</td>
            <td style="text-align: right">{{ ((invoiceItem.priceIncMargin)/100)|format_currency('CZK', locale='cs' ) }}</td>
            <td style="text-align: center">{{ invoiceItem.vat.percent }}%</td>
            <td style="text-align: center">{{ invoiceItem.discount }}%</td>
            <td style="text-align: center">{{ invoiceItem.margin }}%</td>
            <td style="text-align: center">{{ invoiceItem.unitCount }}</td>
            <td style="text-align: right">{{ (invoiceItem.priceIncMarginDiscountMultiVat)|format_currency('CZK', locale='cs' ) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>